@use "../../scss/text-mixins";
@use "../../scss/variables";

.back__container {
  @include text-mixins.text-heading-sm;
  color: white;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin: 2rem 1rem;
  cursor: pointer;
}

.status__container {
  @include text-mixins.text-body;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  margin: 0 auto;
  background-color: variables.$dark-blue;
  max-width: 80vw;
  height: 90px;
  border-radius: 8px;
}

.pending__status {
  background-color: rgba(255, 165, 0, 0.1);
  color: #ffab00;
  @include text-mixins.text-heading-sm;
  padding: 0.5rem 1rem;
  border-radius: 8px;
}

.details__container {
  background-color: variables.$dark-blue;
  display: grid;
  grid-template-columns: 1fr;
  flex-direction: column;
  align-items: center;
  max-width: 80vw;
  margin: 1rem auto;
  border-radius: 8px;
  padding: 1rem;
  margin-bottom: 8rem;
  color: white;
  @include text-mixins.text-body-variant;
  font-weight: 300;

  .invoice_due__heading,
  .payment_due__heading,
  .sent_to__heading,
  .bill_to__heading {
    @include text-mixins.text-heading-sm;
  }

  .invoice_number__container {
    margin-bottom: 1rem;
  }

  .invoice__number {
    @include text-mixins.text-heading-sm;
  }

  .invoice_number__container,
  .bill_from__container,
  .invoice_details__container,
  .sent_to_email {
    display: grid;
    gap: 0.25rem;
  }

  .bill_from__container {
    margin-bottom: 1rem;
  }

  .invoice_details__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;

    .invoice_date__container,
    .payment_due__container {
      display: grid;
      gap: 0.25rem;
      margin: 1rem 0;
    }

    .bill_to__container {
      margin-top: 1.25rem;
      display: grid;
    }
  }

  .sent_to_email {
    display: grid;
    gap: 0.25rem;
  }
}

.items__container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-self: center;
  width: 60vw;

  gap: 1rem;
  background-color: variables.$dark-gray-blue;
  padding: 1rem;
  border-radius: 8px;
  overflow: hidden;
  margin: 2rem 0;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: variables.$dark-purple;
    width: 100%;
    height: 60px;
  }

  .items_total {
    width: 100%;
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;

    @include text-mixins.text-body;

    .total {
      @include text-mixins.text-heading-md;
    }
  }
}

.statusPending {
  background-color: rgba(255, 165, 0, 0.1);
  color: #ffab00;
}

.statusPaid {
  background-color: rgba(0, 121, 0, 0.1);
  color: #66ff00;
}

.item__container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .item_name {
    @include text-mixins.text-heading-sm;
  }

  .item_quantity {
    @include text-mixins.text-heading-sm;
    color: variables.$gray;
  }

  .item_total {
    @include text-mixins.text-heading-sm;
  }
}

.button__footer {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: variables.$dark-gray-blue;
  width: 100%;
  padding: 1.5rem 0;
  display: flex;
  justify-content: center;
  gap: 2rem;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  z-index: 2;

  .edit__button {
    display: flex;
    align-items: center;
    justify-content: center;
    @include text-mixins.text-heading-sm-variant;
    color: white;
    background-color: variables.$gray;
    border: none;
    padding: 1rem 1.5rem;
    border-radius: 1.5rem;
    cursor: pointer;
  }

  .delete__button {
    display: flex;
    align-items: center;
    justify-content: center;
    @include text-mixins.text-heading-sm-variant;
    color: white;
    background-color: red;
    border: none;
    padding: 1rem 1.5rem;
    border-radius: 1.5rem;
    cursor: pointer;
  }

  .paid__button {
    display: flex;
    align-items: center;
    justify-content: center;
    @include text-mixins.text-heading-sm-variant;
    color: white;
    background-color: variables.$purple;
    border: none;
    padding: 1rem 1.5rem;
    border-radius: 1.5rem;
    cursor: pointer;
  }
}

.modal__overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal {
  background-color: variables.$dark-blue;
  padding: 2rem 1rem;
  color: white;
  margin: auto;
  border-radius: 8px;
  max-width: 280px;
  width: 100%;

  h2 {
    @include text-mixins.text-heading-md;
    margin-bottom: 1rem;
  }

  p {
    @include text-mixins.text-body-variant;
    width: 230px;
  }
}

.modal__actions {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin-top: 2rem;
}

.cancel__button {
  display: flex;
  justify-content: center;
  @include text-mixins.text-heading-sm-variant;
  color: white;
  background-color: variables.$dark-gray-blue;
  border: none;
  padding: 1rem 1.5rem;
  border-radius: 1.5rem;
  cursor: pointer;
}

.confirm__button {
  display: flex;
  justify-content: center;
  @include text-mixins.text-heading-sm-variant;
  color: white;
  background-color: red;
  border: none;
  padding: 1rem 1.5rem;
  border-radius: 1.5rem;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .status__container {
    max-width: 600px;
  }

  .details__container {
    max-width: 600px;
    display: grid;
    grid-template-columns: 1.2fr 1fr 1fr 1fr;
    justify-items: stretch;
  }

  .invoice_date__container {
    grid-column: 1;
  }

  .invoice_details__container {
    grid-column: 1;
    display: grid;
    gap: 1.25rem;
  }

  .bill_to__container {
    grid-column: 2;
  }

  .sent_to_email {
    grid-column: 3;
  }

  .bill_from__container {
    grid-column: 4;
    margin-left: 3rem;
  }

  .items__container {
    grid-row: 3;
    grid-column: 1 / -1;
    width: 500px;
  }
}

@media (min-width: 1100px) {
  .status__container {
    max-width: 800px;
  }

  .details__container {
    max-width: 800px;
  }
}
