@use "../../../scss/variables";
@use "../../../scss/text-mixins";

.card {
  display: flex;
  flex-direction: column;
  width: 280px;
  margin: 1rem auto;
  background-color: variables.$dark-blue;
  border-radius: 8px;
  padding: 1.5rem;
  gap: 1rem;
  color: white;
  cursor: pointer;

  &:hover {
    box-shadow: 0 4px 6px rgb(146, 119, 255);
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: inherit;

    &_invoice_number {
      @include text-mixins.text-heading-sm;
    }

    &_recipient {
      @include text-mixins.text-body;
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;

    &_due_date {
      @include text-mixins.text-body-variant;
    }

    &_total {
      @include text-mixins.text-heading-sm;
    }

    &_left {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }

    &_right {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100px;
      border-radius: 8px;
      @include text-mixins.text-heading-sm;

      &.statusDraft {
        background-color: rgba(128, 128, 128, 0.1);
        color: #888eb0;
      }

      &.statusPending {
        background-color: rgba(255, 165, 0, 0.1);
        color: #ffab00;
      }

      &.statusPaid {
        background-color: rgba(0, 121, 0, 0.1);
        color: #66ff00;
      }
    }
  }
}
