@use "../../../scss/variables";
@use "../../../scss/text-mixins";

.card {
  padding: 1rem;
  background-color: variables.$dark-gray-blue;
  border-radius: 8px;
  cursor: pointer;
  color: white;
  max-width: 300px;
  margin: 2rem auto;

  &:hover {
    box-shadow: 0 6px 6px variables.$purple;
  }

  .hash {
    color: variables.$gray;
  }

  .card__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "invoiceNumber   clientName"
      "invoiceDate     status"
      "invoiceTotal    status";
    gap: 0.5rem;

    .invoiceNumber {
      grid-area: invoiceNumber;
      @include text-mixins.text-heading-sm;
    }
    .invoiceDate {
      grid-area: invoiceDate;
      @include text-mixins.text-body;
      font-weight: 200;
    }
    .invoiceTotal {
      grid-area: invoiceTotal;
      @include text-mixins.text-heading-sm;
    }
    .clientName {
      grid-area: clientName;
      justify-self: end;
      @include text-mixins.text-body;
      font-weight: 400;
    }
    .status {
      grid-area: status;
      justify-self: end;
      align-self: center;
      display: flex;
      justify-content: center;
      padding: 0.75rem 1.25rem;
      border-radius: 8px;
      @include text-mixins.text-heading-sm;
    }
  }

  .statusDraft {
    color: white;
    background-color: rgba(136, 142, 176, 0.4);
  }

  .statusPending {
    color: #e9d502;
    background-color: rgba(233, 213, 2, 0.2);
  }

  .statusPaid {
    color: rgb(0, 128, 0);
    background-color: rgba(0, 128, 0, 0.1);
  }

  @media (min-width: 600px) {
    max-width: 85vw;
    .card__grid {
      grid-template-columns: repeat(5, 1fr);
      grid-template-areas: "invoiceNumber invoiceDate clientName invoiceTotal status";
      gap: 1rem;

      text-align: center;

      .invoiceNumber {
        justify-self: start;
      }
      .invoiceDate {
        justify-self: start;
      }
      .clientName {
        justify-self: start;
      }
      .invoiceTotal {
        justify-self: start;
      }
      .status {
        justify-self: start;
      }
    }
  }

  @media (min-width: 1020px) {
    max-width: 1000px;
  }
}
