@use "../../scss/variables";
@use "../../scss/text-mixins";

.header {
  background-color: variables.$dark-blue;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo__container {
  position: relative;
  background-color: variables.$purple;
  width: 72px;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background-color: variables.$light-purple;
    border-top-left-radius: 20px;
  }

  img {
    z-index: 2;
  }
}

.logout__button {
  @include text-mixins.text-heading-sm-variant;
  color: white;
  background-color: variables.$purple;
  border: none;
  padding: 1rem 1.5rem;
  border-radius: 1.5rem;
  cursor: pointer;
  margin-right: 1rem;
}
