@use "../../scss/variables";

.header {
  background-color: variables.$dark-blue;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo__container {
  position: relative;
  background-color: variables.$purple;
  width: 72px;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background-color: variables.$light-purple;
    border-top-left-radius: 20px;
  }

  img {
    z-index: 2;
  }
}

.profile__img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 20px;
}
