@use "../../../scss/text-mixins";
@use "../../../scss/variables";

.item__container {
  display: flex;
  flex-direction: column;
  width: 100%;

  label {
    margin-bottom: 8px;
  }

  input {
    width: 100%;
  }

  &_bottom {
    display: flex;
    align-items: center;
    gap: 3rem;

    > div {
      display: flex;
      flex-direction: column;
      flex: 1;
      min-width: 0;
    }

    > div:nth-child(1) {
      flex: 0 0 60px;
    }

    > div:nth-child(2) {
      flex: 0 0 60px;
    }

    > div:nth-child(3) {
      flex: 1;

      > input {
        background-color: variables.$dark-purple;
      }
    }
  }
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
