@use "../../../scss/variables";
@use "../../../scss/text-mixins";

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;

  &__input {
    padding: 1rem 1.25rem;
    background-color: variables.$dark-gray-blue;
    color: white;
    border: none;
    border-radius: 4px;
    @include text-mixins.text-heading-sm-variant;
  }

  &__button {
    @include text-mixins.text-heading-sm-variant;
    color: white;
    background-color: variables.$purple;
    border: none;
    padding: 1rem 1.5rem;
    border-radius: 1.5rem;
    cursor: pointer;

    &:hover {
      background-color: variables.$light-purple;
    }
  }
}
