$purple: #7c5dfa;
$light-purple: #9277ff;
$dark-blue: #1e2139;
$dark-gray-blue: #252945;
$light-gray: #dfe3fa;
$gray: #888eb0;
$blue-gray: #7e88c3;
$dark: #0c0e16;
$dark-coral: #ec5454;
$light-coral: #ff9797;
$light: #f8f8fb;
$dark-purple: #141625;
